.home-main-box {
  width: 100%;
}
.home-main-box article {
  padding: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-main-box article input {
  height: 20px;
  width: 60%;
  margin-top: 10px;
  color: #666;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  outline: none;
  border: rgba(204, 204, 204, 0.5) solid 1px;
}
.home-main-box .align-box {
  display: flex;
  justify-content: center;
}
.home-main-box .align-box div {
  max-width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(270px, auto);
}
.home-main-box .controls-box {
  height: 50px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.home-main-box .controls-box button {
  transition: 400ms;
  height: 40px;
  width: 80px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #666;
}
.home-main-box .controls-box button:first-child {
  margin-right: 10px;
}
.home-main-box .controls-box button:last-child {
  margin-left: 10px;
}
.home-main-box .controls-box button:hover {
  transition: 400ms;
  background-color: #2F2F3B;
  color: #fff;
}
.home-main-box .controls-box h4 {
  align-items: center;
  background-color: #2F2F3B;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 30px;
}

@media screen and (orientation: portrait) {
  article {
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2F2F3B;
  }
  article h1 {
    color: #fff;
    margin-bottom: 10px;
  }
  article p {
    color: #fff;
    font-weight: 400;
  }
  .align-box {
    display: flex;
    justify-content: center;
  }
  .align-box div {
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(270px, auto);
  }
}
@media screen and (max-width: 850px) {
  .home-main-box {
    width: 100%;
  }
  .home-main-box article {
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-main-box .align-box {
    display: flex;
    justify-content: center;
  }
  .home-main-box .align-box div {
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(270px, auto);
  }
}
@media screen and (max-width: 1200px) and (min-width: 851px) {
  .home-main-box {
    width: 100%;
  }
  .home-main-box article {
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-main-box .align-box {
    display: flex;
    justify-content: center;
  }
  .home-main-box .align-box div {
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(270px, auto);
  }
}
@media screen and (min-width: 1500px) {
  .home-main-box {
    width: 100%;
  }
  .home-main-box article {
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-main-box .align-box {
    display: flex;
    justify-content: center;
  }
  .home-main-box .align-box div {
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(270px, auto);
  }
}
@media screen and (min-width: 1900px) {
  .home-main-box {
    width: 100%;
  }
  .home-main-box article {
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-main-box .align-box {
    display: flex;
    justify-content: center;
  }
  .home-main-box .align-box div {
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(270px, auto);
  }
}/*# sourceMappingURL=main-page.css.map */