.client-main-box {
  display: flex;
}
.client-main-box .input-main-box {
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-right: rgba(204, 204, 204, 0.5) solid 2px;
  min-height: 100vh;
  max-width: 500px;
}
.client-main-box .input-main-box article {
  width: 100%;
  padding: 20px;
  height: 100px;
}
.client-main-box .input-main-box section {
  width: 100%;
  display: flex;
}
.client-main-box .input-main-box section form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.client-main-box .input-main-box section form input {
  transition: 400ms;
  color: #666;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 10px;
  border: rgba(204, 204, 204, 0.5) solid 1px;
}
.client-main-box .input-main-box section form input[type=number]::-webkit-inner-spin-button,
.client-main-box .input-main-box section form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
.client-main-box .input-main-box section form input:focus {
  outline: none;
  transition: 400ms;
  box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 5px 1px;
  transform: scale(1.005);
}
.client-main-box .input-main-box section form .button-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.client-main-box .input-main-box section form button {
  transition: 400ms;
  background-color: #2F2F3B;
  color: white;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 15px;
  margin-bottom: 0;
  margin-top: 20px;
  width: 45%;
  max-width: 200px;
}
.client-main-box .input-main-box section form button:last-child {
  background-color: rgb(158, 18, 18);
}
.client-main-box .input-main-box section form button:hover {
  transition: 400ms;
  transform: scale(0.95);
}
.client-main-box .input-main-box section form button:active {
  transition: 400ms;
  transform: scale(1);
}
.client-main-box .list-main-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.client-main-box .list-main-box article h1 {
  padding: 20px;
}
.client-main-box .list-main-box article p {
  padding: 20px;
  padding-top: 0px;
}
.client-main-box .list-main-box .list-box {
  max-width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media screen and (max-width: 900px) {
  .client-main-box {
    flex-direction: column;
  }
  .client-main-box .input-main-box {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: auto;
    padding-bottom: 20px;
    border-right: none;
  }
  .client-main-box .input-main-box article {
    width: 100%;
    padding: 0;
    height: 100px;
  }
  .client-main-box .input-main-box article h1 {
    text-align: center;
  }
  .client-main-box .input-main-box section {
    width: 100%;
    display: flex;
  }
  .client-main-box .input-main-box section form {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (orientation: portrait) {
  .client-main-box {
    height: 150vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .input-main-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    border-right: none;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-bottom: 30px;
  }
  .input-main-box article {
    width: 100%;
    padding: 20px;
    height: 100px;
  }
  .input-main-box section {
    width: 100%;
    display: flex;
  }
  .input-main-box section form {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .input-main-box section form input {
    transition: 400ms;
    color: #666;
    height: 30px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    border: rgba(204, 204, 204, 0.5) solid 1px;
  }
  .input-main-box section form button {
    width: 150px;
  }
  .list-main-box {
    height: 80vh;
    margin-bottom: 10vh;
    overflow-y: scroll;
  }
}
@media screen and (max-height: 900px) {
  .client-main-box {
    height: 180vh;
  }
}
@media screen and (max-height: 700px) {
  .client-main-box {
    height: 200vh;
  }
}/*# sourceMappingURL=client-page.css.map */