.dog-main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;

    article{
        width: 100%;
        //padding: 200px;
        height: 100px;

        h1{
            padding: 20px;
        }
    }

    section{
        display: flex;
        justify-content: center;

        img{
            transition: 400ms;
            width: 70%;
            border-radius: 30px;
        }
        img:hover{
            transition: 400ms;
            transform: scale(1.05)
        }
    }

    article:last-child{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;

        button{
            transition: 400ms;
            width: 200px;
            height: 50px;
            color: white;
            background-color: #2F2F3B;
            border-radius: 15px;
            border: none;
            font-weight: 300;
            font-size: 15px;
            cursor: pointer;
        }
        button:hover{
            transition: 400ms;
            transform: scale(1.005);
            
        }
    }
}